  
body {
  background-color:tan;
  color: white;
  font-family: arial;
}
h1{
  color:green;
  font-family: verdana;
}
.maindiv{
  background-color: white;
  color: black;
  width: 300px;
  padding: 20px;
  border-radius: 25px;
  position: relative;
  margin: auto;
}
button{
  border-radius: 10px;
}
